
  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 40px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.626);
    background-color: #ffffff82;
  }
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  .form-group {
    margin-bottom: 30px;
  }